%h1.ir= link_to "RubyConfXk", root_url
%nav
  %ul
    %li.index= link_to "What?", root_url
    %li.location= link_to "Where?", location_url
    %li.schedule= link_to "When?", schedule_url
    %li.results= link_to "Results", results_url
    %li.register= link_to "Register", register_url
    %li.license= link_to "License", license_url
    %li= link_to "Contact", "mailto:rubyconf5k@gmail.com"